:root {
  --very-dark-blue: hsl(233, 47%, 7%); /*Background*/
  --dark-desaturated-blue: hsl(244, 38%, 16%); /*Card Background*/
  --soft-violet: hsl(277, 64%, 61%); /*accent*/
  --white: hsl(0, 0%, 100%); /*main heading, stats*/
  --paragraph-white: hsla(0, 0%, 100%, 0.75); /*main*/
  --transparent-white: hsla(0, 0%, 100%, 0.6); /*stats headings*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);
}

.card {
  width: 325px;
  height: 778px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  overflow: auto;
}

.card__hero {
  width: 100%;
  height: 240px;
  background-image: url("./images/image-header-mobile.jpg");
  background-size: cover;
  background-color: var(--soft-violet);
  background-blend-mode: multiply;
}

.card__content {
  width: 100%;
  height: 538px;
  padding: 30px;
  text-align: center;
}

.card__title {
  color: var(--white);
  font-size: 28px;
}

.highlight {
  color: var(--soft-violet);
}

.card__description {
  margin: 20px 0px;
  color: var(--paragraph-white);
  line-height: 1.7;
  font-size: 15px;
}

.card__stats {
  margin: 30px;
}

.card__stats__item {
  display: block;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  margin: 30px;
}

.card__stats__item__value {
  display: block;
}

.card__stats__item__property {
  display: block;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lexend Deca";
  color: var(--transparent-white);
  letter-spacing: 2px;
  margin-top: 5px;
}

@media screen and (min-width: 1110px) {
  .card {
    width: 1110px;
    height: 450px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 8px;
  }

  .card__hero {
    order: 3;
    width: 50%;
    height: 100%;
    display: flex;
    background-image: url("./images/image-header-desktop.jpg");
    background-size: cover;
  }

  .card__content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 70px;
  }

  .card__title {
    font-size: 36px;
  }

  .card__description {
    margin: 20px 30px 70px 0;
  }

  .card__stats {
    margin: 0;
    display: flex;
  }

  .card__stats__item {
    width: 100%;
    margin: 0;
    justify-self: flex-start;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
